DB_NAME=task-manager
DB_USER=admin
DB_PASSWORD=admin
DB_HOST=mysql

SERVER_PORT=3000
SERVER_HOST=0.0.0.0

LOGGER_FORMAT=dev

DEFULT_SALT_ROUNDS=10

AUTH_CONFIG_KEY=privatekey
AUTH_CONFIG_KEY_SECURITY_HEADER=x-access-token
AUTH_CONFIG_TOKEN_EXPIRATION_TIME=18h

RABBITMQ_URL=rabbitmq
RABBITMQ_USER=admin
RABBITMQ_USER_PASSWORD=admin

SOCKET_PORT=3001
SOCKET_URL=socket
